.container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1) ;
    width: 400px;
}

header img {
    height: 60px;
    margin-right: 8px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:azure;
}

input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

button{
    color: white;
    background-color: green;
    border-radius: 5px;


}

table th{
    background-color: #f4f4f4;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

div{
    display: block;
    unicode-bidi: isolate;
}

